<div id="<%= dom_id requestbook %>">
  <p>
    <strong>Isbn:</strong>
    <%= requestbook.isbn %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= requestbook.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= requestbook.author %>
  </p>

  <p>
    <strong>Requestedby:</strong>
    <%= requestbook.requestedby %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= requestbook.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= requestbook.status %>
  </p>

  <p>
    <strong>Approve Date:</strong>
    <%= requestbook.approvedate %>
  </p>
  
  <p>
    <strong>Return Date:</strong>
    <%= requestbook.returndate %>
  </p>

  <p>
    <strong>Fine:</strong>
    <%= requestbook.fine %>
  </p>

</div>
